.row
  .col-xs-3
    %img{:src => @image}/
  .col-xs-9
    .panel.panel-default.book-data
      .panel-heading
        %h3.panel-title Metadata
      .panel-body
        %p
          Title: #{@book.title}
        %p
          Author: #{@book.author}
        %p
          ISBN: #{@book.isbn}
    .panel.panel-default.book-recommendations
      .panel-heading
        %span
          %h3.panel-title Recommendations
        %span.pull-right= link_to "New recommendation", controller: "recommendations", action: "new", book: @book
      .panel-body
        - if @recommendations.empty?
          %div
            None of your reading groups have recommended this book yet.
            = link_to "Be the first?", controller: "recommendations", action: "new", book: @book
        - @recommendations.each do |recommendation|
          .book-recommendation
            .book-recommendation-user
              %strong= recommendation.user.first_name
              %strong= recommendation.recommended ? 'recommends' : 'does not recommend'
              this book to
              = link_to recommendation.reading_group.name, controller: "reading_groups", action: "view", id: recommendation.reading_group 
            .book-recommendation-review= recommendation.review
    .panel.panel-default.book-discussions
      .panel-heading
        %span
          %h3.panel-title Discussions
        %span.pull-right= link_to "New discussion", controller: "discussions", action: "new", book: @book
      .panel-body
        - if @discussions.empty?
          %div
            There are no open discussions on this book yet.
            = link_to "Be the first?", controller: "discussions", action: "new", book: @book
        - @discussions.each do |discussion|
          .book-discussion
            %strong= discussion.user.first_name
            asks: #{discussion.body} -
            = link_to "Reply", controller: "discussions", action: "new", book: @book, parent: discussion
          - discussion.discussions.order(created_at: :asc).each do |comment|
            .book-discussion.book-discussion-comment
              %strong= comment.user.first_name
              responds: #{comment.body}
