.row
  .col-xs-8
    .panel.panel-primary
      .panel-heading
        %h3.panel-title Recently recommended
      .panel-body
        - @recommended_books.each do |recommended_book|
          .result-cover
            = link_to url_for(controller: "books", action: "view", id: recommended_book.id) do
              = image_tag GoogleBooks.search(recommended_book.title).first.image_link(:zoom => 2)
    .panel.panel-primary
      .panel-heading
        %h3.panel-title Recently discussed
      .panel-body
        - @discussed_books.each do |discussed_book|
          .result-cover
            = link_to url_for(controller: "books", action: "view", id: discussed_book.id) do
              = image_tag GoogleBooks.search(discussed_book.title).first.image_link(:zoom => 2)
  .col-xs-4
    .panel.panel-primary
      .panel-heading
        %h3.panel-title Members
      .panel-body
        %ul.list-unstyled
          - @reading_group.users.each do |user|
            %li
              = user.first_name
              = user.last_name
