.row
  .col-xs-8
    .panel.panel-primary
      .panel-heading
        %h3.panel-title Recently recommended
      .panel-body
        - @recommended_books.each do |recommended_book|
          %a.result-link{href: url_for(controller: "books", action: "view", id: recommended_book.id)}
            .result-cover{:style => "background-image: url(" + GoogleBooks.search(recommended_book.title).first.image_link(:zoom => 2) + ")"}
    .panel.panel-primary
      .panel-heading
        %h3.panel-title Recently discussed
      .panel-body
        - @discussed_books.each do |discussed_book|
          %a.result-link{href: url_for(controller: "books", action: "view", id: discussed_book.id)}
            .result-cover{:style => "background-image: url(" + GoogleBooks.search(discussed_book.title).first.image_link(:zoom => 2) + ")"}
  .col-xs-4
    .panel.panel-primary
      .panel-heading
        %h3.panel-title Metadata
      .panel-body
        %p 
          %strong Description: 
          #{@reading_group.description}
        %p  
          %strong Invite code:
          #{@reading_group.invite_code}
    .panel.panel-primary
      .panel-heading
        %h3.panel-title Quick links
      .panel-body
        %ul.list-unstyled
          %li
            = link_to "New recommendation", url_for(controller: "books", action: "search", a: "rec") 
          %li
            = link_to "New discussion", url_for(controller: "books", action: "search", a: "dis") 

    .panel.panel-primary
      .panel-heading
        %h3.panel-title Members
      .panel-body
        %ul.list-unstyled
          - @reading_group.users.each do |user|
            %li
              = user.first_name
              = user.last_name
