!!!
%html
  %head
    %title Alexandria
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-default.navbar-fixed-top{:role => "navigation"}
      .container
        .navbar-header
          %a.navbar-brand{:href => "/"} Alexandria
        - if current_user
          %p.navbar-text.navbar-right
            Signed in as #{@current_user.first_name}.
            %a.navbar-link{:href => "/logout"} Sign out
        - else
          %p.navbar-text.navbar-right
            %a.navbar-link{:href => "/login"} Sign in
    .container
      - if not flash[:info].nil?
        .alert.alert-info #{flash[:info]}
      - if not flash[:success].nil?
        .alert.alert-success #{flash[:success]}
      - if not flash[:danger].nil?
        .alert.alert-danger #{flash[:danger]}
      = yield
